/* Reset body and html margins */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.main {
    box-sizing: border-box;
    padding: 60px 160px;
}
/* map styling */

.map_links {
    color: #d90e4c !important;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.map_words {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
    font-size: 12px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav, .dropdown, .dropbtn {
    font-family: Playfair Display;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    
}
.heading-image {
    width: 100%;
    max-height: 800px;
}

/* nav styling */
nav{
    display: flex;
    background-color: #fbfbfb;
    padding: 30px;
    align-items: center;
    flex-direction: row;
}

.site-title, nav a {
    color: #222 ;
    font-weight: 600;
    padding-left: 10px;
    margin-right: auto;
    text-decoration: none !important;
}

.map-title {
    color: #222;
    font-weight: 600;
    font-size: 16px;
    margin: auto;
}

.site-title:hover span{
    color: rgb(130, 130, 130);
}

nav img {
    max-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.site-title:hover .site-logo {
    opacity: 0.7;
}

/* styling nav dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    background-color: #fbfbfb;
    z-index: 1000;
  }
  
.dropbtn {
    background-color: #fbfbfb; 
    color: #222;
    padding: 20px;
    font-weight: 600;
    border: none;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
  }
  
/* .drop-arrow {
    margin-left: 8px;
    width: 12px;
    height: auto;
  }

.dropdown:hover .drop-arrow {
    transform: rotateX(180deg);
    transition: transform 0.2s ease;
} */
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    background-color: #fbfbfb;
    min-width: 171px;
    z-index: 1000;
  }
  
.dropdown-content a {
    color: #222;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
  }
.dropdown-content a:hover {
    color: rgb(130, 130, 130) !important;
}
  
.dropdown:hover .dropdown-content {
    display: block !important; 
    box-shadow: 0px 16px 8px rgba(0, 0, 0, 0.1);
}
  
.dropbtn:hover {
    color: rgb(130, 130, 130);
    cursor: pointer;
  }
  

/* footer styling */
footer {
    padding: 2rem ;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: #bb0038;
    margin-top: 90px;
    border: rgb(255, 185, 219) 6px solid;
    width: 100%;
}

.foot-container {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.foot-logo a {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: white;
    border: 4px solid lightpink;
    padding: 10px;
    background-color: #bb0038;
    display: inline-block;
    border-radius: 8px;
}

.foot-logo a:hover {
    background-color: white;
    color: #bb0038;
}


.socials {
    margin-bottom: 1.5rem !important;
}
.social-list {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
}

.foot-container .in, .yt {
    display: inline-block;
}

.about, .copyright {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    color: white;
    text-align: center;
}

/* article styling */
.date {
    display: flex;
    justify-content: center;
    color: #7f7f7f;
    font-style: italic;
    font-size: 12px;
}

.title-text {
    text-align: center;
    font-size: 32px;
    font-family: Playfair Display;
    font-weight: 700;
    color: #222;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    gap: 15px;
  }
  
.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-grid img:nth-child(1) {
    grid-row: span 2;
  }
  
  .image-grid img:nth-child(3) {
    grid-row: span 2;
  }

  h2 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 1.6em;
    text-transform: uppercase;
  }

  h3 {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 1.6em;
    color: rgb(130, 130, 130);
    text-transform: uppercase;
  }
.vid-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.vid-grid iframe {
    width: 100%;
    aspect-ratio: 16 / 9; 
    object-fit: cover;
}

  
  

