/* Reset body and html margins */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.main {
    margin: 16px;
}
/* map styling */

.map_links {
    color: #d90e4c !important;
    font-weight: 600;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav, .dropdown, .dropbtn {
    font-family: Playfair Display;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.heading-image {
    width: 100%;
    max-height: 800px;
}

/* nav styling */
nav{
    display: flex;
    background-color: #d90e4c;
    padding: 20px;
    align-items: center;
    flex-direction: row;
}
nav a {
    color: #ffffff !important;
    font-weight: 600;
    text-decoration: none !important
}

.site-title {
    color: #ffffff;
    font-weight: 600;
    padding-left: 10px;
    margin-right: auto;
    font-size: 20px; 
}

.site-title:hover span{
    text-decoration: underline;
}

nav img {
    max-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

/* styling nav dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    background-color: #d90e4c;
    z-index: 1000;
  }
  
.dropbtn, button {
    background-color: #d90e4c; 
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    align-items: center;
    margin-left: auto;
  }
  
.drop-arrow {
    margin-left: 8px;
    width: 12px;
    height: auto;
  }

.dropdown:hover .drop-arrow {
    transform: rotateX(180deg);
    transition: transform 0.2s ease;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    background-color: #d90e4c;
    min-width: 171px;
    z-index: 1000;
  }
  
.dropdown-content a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
.dropdown-content a:hover {
    background-color: white;
    color: #bb0038 !important;
}
  
.dropdown:hover .dropdown-content {
    display: bloc